:root {
    --primary: #31abd4;
    --primary-variant: #dbd4d4;
    --secondary: #26a75d;
    --secondary-variant: #259052;
    --blue-lighter: #0077ff8f;
    --blue: #0075ff;
    --blue-variant: #005cc8;
    /*--secondary-variant: #dd8e06;*/
    --bg: #f7f7f7;
    --bg-darker-variant: #edeaea;
    /*--background-lighter-variant: #f9fcff;*/
    --typeface: #1e1a1a;
    --typeface-footer: #5b5454;
    --typeface-footer-lighter: #a8a3a3;
    --shadow: #292626;
}
