/****************** NAVIGATION *******************/
header {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
nav {
    background-color: var(--primary);
    color: var(--bg);
    width: 90%;
    margin: auto;
    padding: 7px;
    font-weight: lighter;
    text-align: center;
    font-size: 14px;
}

nav figure:nth-of-type(4) figcaption p{ /* translate */
    color: var(--bg);
    font-size: 18px;
    transform: translate(0%, -20%);
}

nav img {
    height: 25px;
}

nav figure {
    margin: 0;
    display: inline-block;
    opacity: 80%;
    transition: opacity 0.3s;
}

nav figure:hover {
    opacity: 100%;
    cursor: pointer;
}

nav figure:nth-of-type(2) { /*close*/
    display: none;
}

nav figure:nth-of-type(1), nav figure:nth-of-type(2) { /*menu, close*/
    float: left;
}

nav figure:nth-of-type(4) { /*cart*/
    float: right;
}

nav ul:first-of-type li {
    list-style-type: none;
    border-bottom: 1px solid var(--bg);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    width: 90%;
    line-height: 20px;
    margin: auto;
}

nav a, nav a:hover {
    color: var(--bg);
}

nav li {
    opacity: 80%;
    transition: opacity 0.2s;
}

nav li:hover {
    opacity: 100%;
}

nav ul:first-of-type {
    position: absolute;
    left: 0;
    top: -300px;
    z-index: -3;
    clear: both;
    background-color: var(--primary);
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: top 0.5s ease;
}

nav ul:last-of-type {
    display: block !important;
    position: absolute;
    margin: 0;
    padding: 0;
    top: -50px;
    right: 5%;
    z-index: -2;
    transition: top 1s, opacity 0.3s;
    color: var(--typeface);
}
nav ul:last-of-type a{
    color: var(--typeface);
}

nav ul:last-of-type li {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    list-style-type: none;
}
