/************* GENERAL SETTINGS ******************/
@font-face {
    font-family: Readex;
    src: url("../uploads/ReadexPro-VariableFont_wght.ttf");
}
body {
    margin: 0;
    color: var(--typeface);
    font-family: Readex, Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: max-content;
    min-height: 100vh;
}
a {
    text-decoration: none;
}

main {
    margin: auto;
    margin-top: 70px;
    width: 80%;
}
